appdirs==1.4.4
beautifulsoup4==4.11.1
bs4==0.0.1
btrfsutil==5.18.1
CacheControl==0.12.6
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
colorama==0.4.5
commonmark==0.9.1
cryptography==37.0.4
cssselect==1.1.0
distlib==0.3.5
distro==1.7.0
docutils==0.19
fake-useragent==0.1.11
future==0.18.2
gpg==1.17.1
gps==3.24
html5lib==1.1
idna==3.3
importlib-metadata==4.12.0
jaraco.context==4.1.1
jaraco.functools==3.5.1
jaraco.text==3.8.1
libinput-gestures-qt==0.4
lxml==4.9.1
mercurial==6.2
more-itertools==8.13.0
msgpack==1.0.3
nftables==0.1
nspektr==0.4.0
numpy==1.23.1
ordered-set==4.0.2
packaging==21.3
pandas==1.4.3
parse==1.19.0
pep517==0.12.0
platformdirs==2.5.1
ply==3.11
pycparser==2.21
pyee==8.2.2
Pygments==2.12.0
PyGObject==3.42.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.2
python-prctl==1.8.1
pytz==2022.1
QTermWidget==1.1.0
Reflector==2021.11.20.2.41.3
requests==2.27.1
requests-html==0.10.0
resolvelib==0.8.1
rich @ file:///build/python-rich/src/rich-12.5.1/dist/rich-12.5.0-py3-none-any.whl
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.8.10
team==1.0
tenacity==8.0.1
tomli==2.0.1
torbrowser-launcher==0.3.5
tqdm==4.64.0
trove-classifiers==2022.6.26
typing_extensions==4.2.0
ufw==0.36.1
urllib3==1.26.9
validate-pyproject==0.9
w3lib==1.22.0
webencodings==0.5.1
websockets==10.3
zipp==3.8.1